name: Publish packages to NuGet

on:
  workflow_dispatch:

env:
  DOTNET_TARGET: 'net10.0'

jobs:
  build--pack-and-push:
    runs-on: ubuntu-latest
    
    permissions:
      id-token: write # enable GitHub OIDC token
    
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          sparse-checkout: src
          sparse-checkout-cone-mode: false

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
          dotnet-quality: 'ga'

      - name: Build DaJet HTTP Model
        working-directory: src/dajet-http-model
        run: dotnet build --configuration Release

      - name: Pack DaJet HTTP Model
        working-directory: src/dajet-http-model
        run: dotnet pack --configuration Release --no-build --output ../nupkg

      - name: Build DaJet HTTP Client
        working-directory: src/dajet-http-client
        run: dotnet build --configuration Release

      - name: Pack DaJet HTTP Client
        working-directory: src/dajet-http-client
        run: dotnet pack --configuration Release --no-build --output ../nupkg

      - name: NuGet login (OIDC)
        uses: NuGet/login@v1
        id: login
        with:
          user: ${{secrets.NUGET_USER}}
    
      - name: NuGet push
        working-directory: src
        run: dotnet nuget push ./nupkg/*.nupkg --api-key ${{steps.login.outputs.NUGET_API_KEY}} --source https://api.nuget.org/v3/index.json --skip-duplicate
